<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/articles">Artikel</a></li>
                <li class="active"><span x3m-article-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h1 class="text-primary"><span x3m-article-title-panel></span></h1>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminArticleEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminArticleEditCtrl.editData()" class="panel-heading">
                    <span x3m-article-info-panel></span>
                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">

                            <!-- TITLE -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.title.$invalid && !formEdit.title.$pristine }">
                                <label class="control-label" for="inputTitle">Titel</label>

                                <input type="text" name="subject" class="form-control" id="inputTitle" ng-model="adminArticleEditCtrl.title" required>

                                <p ng-show="formEdit.title.$error.required && !formEdit.title.$pristine" class="help-block">Bitte Titel eingeben</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <!-- ARTICLEDATE -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.articledate.$invalid}">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Artikeldatum</label>
                                    <input type="text" class="form-control" ng-model="adminArticleEditCtrl.articledateForm" name="articledateForm" data-autoclose="1" bs-datepicker>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- PUBLISHDATE -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.publishdate.$invalid}">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Publizieren am</label>
                                    <input type="text" class="form-control" ng-model="adminArticleEditCtrl.publishdateForm" name="publishdateForm" data-autoclose="1" bs-datepicker>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div text-angular="text-angular" name="htmlcontent" ng-model="adminArticleEditCtrl.htmlcontent" ta-disabled='disabled'></div>
                        </div>
                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminArticleEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="adminArticleEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern & Wiederherstellen</button>

                            <button type="button" ng-click="adminArticleEditCtrl.delete()" class="btn btn-danger" ng-if="adminArticleEditCtrl.editData() && !adminArticleEditCtrl.isDeleted()"><i class="fa fa-trash"></i> Löschen</button>
                            <button type="reset" ng-click="adminArticleEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






