<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li class="active">Artikel</li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->



<div class="page-header">
    <h1>Artikel</h1>
</div>




<div class="row">

    <div class="col-md-12">

        <button class="btn btn-sm btn-primary" ng-click="adminArticleCtrl.newArticle()"><span class="glyphicon glyphicon-plus"></span> Neuer Artikel erfassen</button>

        <p>&nbsp;</p>

        <div ui-grid="gridOptions" class="myGrid"  ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

    </div>

</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






