body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Droid Sans', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;

    /*background: #000000 url('../img/bg01.jpg') no-repeat fixed center top;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

b, strong {
    font-weight: 700;
}

a {
    cursor: pointer;
}

p > a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Montserrat", sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 31px;
    text-transform: uppercase;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
    font-weight: 400;
}

small {
    font-size: 75% !important;
    font-weight: 400 !important;
    letter-spacing: 0px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.4;
}

dt {
    font-weight: 700;
    font-size: 13px;;
}

dd {
    margin-left: 0;
    font-size: 13px;

}

ul, ol {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.dropdown-menu {
    font-size: 13px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    font-weight: 400;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #3399f3;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
}

label {
    font-weight: 500;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-size: 13px;
}

blockquote {
    font-size: 13px;
}

.help-block {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.has-error .help-block {
    color: #c91922;
}

button, .btn {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.panel-title {
    font-weight: 500;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-size: 16px;
    color: #446e9b;
}

.page-title {
    padding-bottom: 2px;
    margin: 80px 0 10px 0;
    border-bottom: 0px;
}

/*
 * Navbar
 */
.navbar-brand {
    font-family: "Roboto", "Montserrat", sans-serif;
    font-weight: 100;
    float: left;
    padding: 15px 15px;
    font-size: 23px;
    line-height: 20px;
    height: 50px;
}


/*
 * Alerts
 */
.alert-success {
    border-color: #b1d6a2
}

.alert-error {
    background-color: #F2DEDE;
    border-color: #d0a4a4;
    color: #A94442;
}

.alert-info {
    border-color: #4dc1f0;

}

.alert-warning {
    border-color: #d3c386;
}

.close {
    font-size: 23px;
    font-weight: 700;

}

.alert h4 {
    font-size: 17px;
    text-transform: uppercase;
}

/*
 * Footer
 */
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    right: 0px;
    left: 0px;
    background-color: #F5F5F5;
}

.footer .text-muted {
    margin: 20px 0px;
}

/*
 * UI Grid
 */
.myGrid {
    height: 500px;
    width: 100%;
}

.ui-grid-cell-contents {
    padding: 5px;
    font-size: 13px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    font-family: "Roboto", "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}

.ui-grid-menu-item {
    font-family: "Roboto", "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}

.ui-grid-menu .ui-grid-menu-inner ul li {
    padding: 4px;
}

.ui-grid-cell {
    border-bottom: 1px solid #dddddd;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #ffffff;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f9f9f9;
}

.ui-grid-grid-footer {
    padding-top: 5px;
    padding-left: 10px;
}

.ui-grid-pager-count {
    font-size: 11px;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border-bottom-color: #dddddd;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-bottom-color: #dddddd;
}

.ui-grid-top-panel {
    font-weight: normal;
    font-size: 13px;
    font-weight: 400;
}

input[type="text"].ui-grid-filter-input {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
}

select.ui-grid-filter-select {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #446E9B !important;
    color: #ffffff;
}

/*
 * Portrait, Images
 */
.portrait {
    background-size: 24px 24px;
    border-radius: 50%;
    margin: -1px;
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
    display: inline-block;
}

.thumb {
    max-width: 110px;
    max-height: 130px;
    float: none;
    position: relative;
}

/*
 * Modal Window
 */
.modal-header {
    padding-top: 17px;
    padding-bottom: 13px;
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url("../img/base41_logo1.png");
    background-repeat: no-repeat;
    background-position: 90% center;

}

.modal-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.modal-header h4 {
    font-size: 19px;
    letter-spacing: 0px;
    color: #446E9B;
    text-transform: uppercase;
    /*text-shadow: 1px 3px 3px rgba(18, 19, 20, 0.27);*/
}

/*
 * Navbar
 */
.container {
    position: relative;
    /*padding-left: 0px;*/
}

.fixed {
    position: fixed !important;
}

#topNav .nav > li > a,
#topNav .nav > li > a:focus {
    padding-top: 16px;
    padding-left: 25px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.nav > li > a,
.nav > li > a:focus {
    padding-top: 16px;
    padding-bottom: 0px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.nav > li > a:hover {
    padding-top: 16px;
    padding-bottom: 0px;
    background-color: transparent;
    color: #3399F3;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.nav > li > a#portrait,
.nav > li > a#portrait:hover {
    padding-top: 14px;
    padding-bottom: 0px;
}


.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-toggle {
    border-color: rgba(51, 153, 243, 0.29)
}

.navbar-toggle .icon-bar {
    background-color: #CCC;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-collapse {
    padding-right: 0px;
}

.page-header {

    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    z-index: 98;
    position: relative;
    overflow: hidden;
}

header#topHead {
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 101;
    border-bottom: 1px solid #EEE;
}

header#topNav.topHead {
    top: 40px;
}

header#topNav {
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #F4F5F7;
    box-shadow: 0px 0px 8px #EEE;
}

header#topNav button.btn-mobile {
    color: #FFF;
    display: none;
    background: #2E363F none repeat scroll 0% 0%;
    padding: 6px 10px;
    margin-top: 8px;
    border-radius: 0px;
}

header#topNav nav ul.nav-main {
    margin: -7px 0px 8px;
    z-index: 300;
}

#header_shadow {
    background: transparent url("../img/header_shadow.png") no-repeat scroll center top;
    position: fixed;
    top: 81px;
    left: 0px;
    right: 0px;
    height: 75px;
    z-index: 99;
}

#topHead a {
    padding-top: 16px;
    padding-bottom: 0px;

    font-size: 13px;
    color: #666666;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", "Montserrat", sans-serif;

    margin-left: 20px;
}

#topHead a:hover {
    color: #3399f3;
    background-color: transparent;
    text-decoration: none;
}

header#topNav button.btn-mobile {
    color: #FFF;
    display: none;
    background: #C6E0FB none repeat scroll 0% 0%;
    padding: 6px 10px;
    margin-top: 8px;
    border-radius: 0px;
}

header#topNav div.nav-main-collapse {
    margin-top: 16px;
    z-index: 300;
}

@media (max-width: 990px) {

    header#topNav div.nav-main-collapse {
        background: #eeeeee none repeat scroll 0% 0%;
        margin: -8px -15px 0px !important;
        max-height: none;
        box-sizing: content-box;
        filter: none;
        border-bottom: 1px solid #D5D5D5;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    }

    header#topNav div.nav-main-collapse, header#topNav div.nav-main-collapse.in {
        width: 100%;
        overflow: hidden;
    }

    header#topNav div.nav-main-collapse {
        top: 8px;
        position: relative;
    }

    header#topNav div.nav-main-collapse, header#topNav div.nav-main-collapse.in {
        width: 100%;
        overflow: hidden;
    }

    header#topNav div.nav-main-collapse.collapse {
        display: none !important;
    }

    header#topNav div.nav-main-collapse.in {
        display: block !important;
    }

    header#topNav nav.nav-main ul li {
        clear: both;
        float: none;
        display: block;
        border-bottom: 1px solid #383F49;
    }

    .navbar-nav {
        padding-top: 12px;
    }

}

@media (max-width: 991px) {
    .container {
        width: 100% !important;
    }
}

/*
 * Breadcrumbs
 */
.breadcrumbtop {
    position: relative;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
}
.breadcrumbtop > li {
    display: inline-block;
}
.breadcrumbtop > li a,
.breadcrumbtop > li a:focus {
    margin-left: 0px !important;
    font-size: 11px !important;
    color: #3399F3 !important;
}
.breadcrumbtop > li a:hover {
    text-decoration: underline !important;
}

.breadcrumbtop > li + li:before {
    content: ">\00a0";
    padding: 0 5px;
    color: #cccccc;
}


/*
 * Tabs
 */
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    padding-top: 13px;
    padding-bottom: 7px;
    color: #3399F3;
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    border-top-color: #3399F3;
    border-top-width: 4px;
    padding-top: 10px;
}

.tab-content {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    /*border-top-right-radius: 4px;*/
    /*border-top-left-radius: 4px;*/
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tabs {
    margin-top: 20px;
}


/*
 * JS Tree
 */
.vakata-context li {
    display: block;
}
li.vakata-context-separator {
    border-bottom: 1px solid #e5e5e5;
    line-height: 3px;
}

/*
 * Date/Timepicker
 */
.btn-today,
.btn-today:hover{
    background: none;
    border: 0px solid #ffffff;
    color: #208ff2 !important;
}
.datepicker .btn-default,
.timepicker .btn-default{
    background: none;
    border: 0px solid #ffffff;
    color: #333333;
}
.datepicker .btn-default:hover,
.timepicker .btn-default:hover{
    background-color: #dddddd;
    border: 0px solid #ffffff;
}
.datepicker .btn-primary,
.datepicker .btn-primary:hover,
.timepicker .btn-primary,
.timepicker .btn-primary:hover{
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 0px solid #ffffff;
    color: #ffffff;

}

