<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->

        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->


<div class="page-header">
    <h1>Dashboard</h1>
</div>


<div class="row">


    <div class="col-md-12">

        <tabs>
            <pane title="BENUTZER-PROTOKOLL">
                <div ui-grid="gridUserevents" class="myGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
            </pane>
        </tabs>
    </div>

</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






