<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form name="formEdit" novalidate ng-submit="sendMessageToMobileAppController.submitForm(formEdit.$valid)">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nachricht senden</h4>
                </div>

                <div class="modal-body">

                    <!-- ZERTIFIKAT -->
                    <div class="form-group">
                        <label class="control-label" for="inputMessage">Server/Zertifikat</label>

                        <ui-select ng-model="sendMessageToMobileAppController.certificate" theme="selectize" ng-disabled="disabled">

                            <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in sendMessageToMobileAppController.certificateEnums | propsFilter: {label: $select.search}">
                                <div ng-bind-html="option.label | highlight: $select.search"></div>
                            </ui-select-choices>

                        </ui-select>
                    </div>

                    <!-- BADGEICON -->
                    <div class="form-group">
                        <label class="control-label" for="inputMessage">Badge Icon</label>

                        <ui-select ng-model="sendMessageToMobileAppController.badgeicon" theme="selectize" ng-disabled="disabled">

                            <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in sendMessageToMobileAppController.badgeiconEnums | propsFilter: {label: $select.search}">
                                <div ng-bind-html="option.label | highlight: $select.search"></div>
                            </ui-select-choices>

                        </ui-select>
                    </div>

                    <!-- MESSAGE -->
                    <div class="form-group" ng-class="{ 'has-error' : formEdit.message.$invalid && !formEdit.message.$pristine }">
                        <label class="control-label" for="inputMessage">Nachricht</label>

                        <input type="text" name="message" class="form-control" id="inputMessage" ng-model="sendMessageToMobileAppController.message" required>
                        <p ng-show="formEdit.message.$error.required && !formEdit.message.$pristine" class="help-block">Bitte Nachricht eingeben</p>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="sendMessageToMobileAppController.close(false)" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success" ng-disabled="formEdit.$invalid"><i class="fa fa-send"></i> Senden</button>
                </div>

            </form>


        </div>
    </div>
</div>



