<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form name="formEdit" novalidate ng-submit="uploadDocController.submitForm(formEdit.$valid, uploadDocController.doc)">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Dokument hochladen</h4>
                </div>

                <div class="modal-body">
                    <p style="margin-bottom: 40px;">Welches Dokument möchtest du ins Verzeichnis "<strong>{{uploadDocController.nodeName}}</strong>" speichern?</p>

                    <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 10px;" ng-file-select ng-model="uploadDocController.doc" ng-accept="'.pdf,.mp3'" ng-multiple="false" ng-file-change="uploadDocController.generateThumb(uploadDocController.doc[0], $files)">
                        <i class="glyphicon glyphicon-plus"></i> Dokument auswählen</button>

                    <p ng-if="uploadDocController.doc[0].name != null">Ausgewähltes Dokument: <strong class="text-primary">{{uploadDocController.doc[0].name}}</strong></p>


                    <!-- DESCRIPTION -->
                    <div class="form-group" style="margin-top: 40px;" ng-class="{ 'has-error' : formEdit.description.$invalid && !formEdit.description.$pristine }">
                        <label class="control-label" for="inputDescription">Beschreibung:</label>

                        <input type="text" name="description" class="form-control" id="inputDescription" ng-model="uploadDocController.description" required>
                        <p ng-show="formEdit.description.$error.required && !formEdit.description.$pristine" class="help-block">Bitte Beschreibung eingeben</p>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="uploadDocController.close(false)" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary"  ng-disabled="uploadDocController.doc[0].name == null || formEdit.$invalid"><i class="fa fa-upload"></i> Speichern</button>
                </div>

            </form>


        </div>
    </div>
</div>



