<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <dl class="dl-horizontal">
                            <dt>Empfänger:</dt>
                            <dd><span x3m-compile-html="{{showEmailController.data.recipients_display}}" /></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Gesendet am:</dt>
                            <dd>{{ showEmailController.data.sent_at }}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>Anhang:</dt>
                            <dd><span x3m-compile-html="{{showEmailController.data.attachments_display}}" /></dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>Absender:</dt>
                            <dd><span x3m-compile-html="{{showEmailController.data.sender}}" /></dd>
                        </dl>

                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{ showEmailController.data.subject }}</h4>
                        <!-- EMAIL TEXT -->
                        <div id="" style="overflow-y: scroll; height:200px; border: 1px solid #e9e9e9; background-color: #fafafa; padding: 6px;" ng-bind-html="showEmailController.data.content"></div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="showEmailController.close(false)" class="btn btn-default" data-dismiss="modal">Schliessen</button>
            </div>


        </div>
    </div>
</div>



