<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form name="formEmail" novalidate ng-submit="sendEmailController.submitForm(formEmail.$valid)">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Email senden</h4>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">

                            <!-- ABSENDER EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : formEmail.sender_email.$invalid && !formEmail.sender_email.$pristine }">
                                <label class="control-label" for="inputSenderEmail">Absender E-Mail</label>

                                <input type="text" name="sender_email" class="form-control" id="inputSenderEmail" ng-model="sendEmailController.sender_email" required>
                                <p ng-show="formEmail.sender_email.$error.required && !formEmail.sender_email.$pristine" class="help-block">Bitte E-Mail eingeben</p>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <!-- ABSENDER NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEmail.sender_name.$invalid && !formEmail.sender_name.$pristine }">
                                <label class="control-label" for="inputSenderName">Absender Name</label>

                                <input type="text" name="sender_name" class="form-control" id="inputSenderName" ng-model="sendEmailController.sender_name" required>
                                <p ng-show="formEmail.sender_name.$error.required && !formEmail.sender_name.$pristine" class="help-block">Bitte Name eingeben</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- EMPFÄNGER -->
                            <div class="form-group" ng-class="{ 'has-error' : formEmail.recipient_email.$invalid && !formEmail.recipient_email.$pristine }">
                                <label class="control-label" for="inputRecipientEmail">Empfänger E-Mail</label>

                                <input type="text" name="recipient_email" class="form-control" id="inputRecipientEmail" ng-model="sendEmailController.recipient_email" required>
                                <p ng-show="formEmail.recipient_email.$error.required && !formEmail.recipient_email.$pristine" class="help-block">Bitte E-Mail eingeben</p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- SUBJECT -->
                            <div class="form-group" ng-class="{ 'has-error' : formEmail.subject.$invalid && !formEmail.subject.$pristine }">
                                <label class="control-label" for="inputSubject">Betreff</label>

                                <input type="text" name="subject" class="form-control" id="inputSubject" ng-model="sendEmailController.subject" required>
                                <p ng-show="formEmail.subject.$error.required && !formEmail.subject.$pristine" class="help-block">Bitte E-Mail eingeben</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- MESSAGE -->
                            <div class="form-group" ng-class="{ 'has-error' : formEmail.message.$invalid && !formEmail.message.$pristine }">

                                <div text-angular="text-angular" name="htmlcontent" ng-model="sendEmailController.htmlcontent" ta-disabled="sendEmailController.disabled"></div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="sendEmailController.close(false)" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success" ng-disabled="formEmail.$invalid"><i class="fa fa-send"></i> Senden</button>
                </div>

            </form>


        </div>
    </div>
</div>



