<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{msg1}}</p>
                <p><strong>{{msg2}}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">Nein</button>
                <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal">Ja</button>
            </div>
        </div>
    </div>
</div>

