<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/members">Mitgliederverwaltung</a></li>
                <li class="active"><span x3m-member-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h2 class="text-primary"><span x3m-member-title-panel></span></h2>
    <h6 ng-if="adminMemberEditCtrl.editData()"><span x3m-member-subtitle-panel></span></h6>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminMemberEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminMemberEditCtrl.editData()" class="panel-heading">

                    <span x3m-member-info-panel />

                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-6">

                            <!-- FIRSTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.vorname.$invalid && !formEdit.vorname.$pristine }">
                                <label class="control-label" for="inputVorname">Vorname</label>

                                <input type="text" name="vorname" class="form-control" id="inputVorname" ng-model="adminMemberEditCtrl.vorname" required>
                                <p ng-show="formEdit.vorname.$error.required && !formEdit.vorname.$pristine" class="help-block">Bitte Vorname eingeben</p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <!-- LASTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.nachname.$invalid && !formEdit.nachname.$pristine }">
                                <label class="control-label" for="inputNachname">Nachname</label>

                                <input type="text" name="nachname" class="form-control" id="inputNachname" ng-model="adminMemberEditCtrl.nachname" required>
                                <p ng-show="formEdit.nachname.$error.required && !formEdit.nachname.$pristine" class="help-block">Bitte Nachname eingeben</p>
                            </div>

                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-3">

                            <!-- SEX -->
                            <div class="form-group">
                                <label>Geschlecht</label>

                                <ui-select ng-model="adminMemberEditCtrl.sex" theme="selectize" ng-disabled="disabled">

                                    <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminMemberEditCtrl.sexEnums | propsFilter: {label: $select.search}">
                                        <div ng-bind-html="option.label | highlight: $select.search"></div>
                                    </ui-select-choices>

                                </ui-select>
                            </div>

                            <!-- GEBDATUM -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.date.$invalid}">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Geburtsdatum</label>
                                    <input type="text" class="form-control" ng-model="adminMemberEditCtrl.gebdatumForm" name="gebdatumForm" data-autoclose="1" bs-datepicker>
                                </div>


                            </div>

                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6" ng-if="adminMemberEditCtrl.editData()">

                            <!-- PORTRAIT -->
                            <img ng-if="adminMemberEditCtrl.picFile[0].dataUrl == null" ng-src="{{ adminMemberEditCtrl.portrait }}" alt="" class="thumb img-thumbnail" style="float: left; margin-bottom: 10px; margin-right: 10px;" />
                            <img ng-if="adminMemberEditCtrl.picFile[0].dataUrl != null" ng-src="{{adminMemberEditCtrl.picFile[0].dataUrl}}" class="img-thumbnail thumb" style="float: left; margin-bottom: 10px; margin-right: 10px;">

                            <!-- FOTO LÖSCHEN -->
                            <button ng-if="adminMemberEditCtrl.picFile[0].dataUrl == null && !adminMemberEditCtrl.hasNoPortrait()" type="button" class="btn btn-sm btn-danger" ng-click="adminMemberEditCtrl.deletePortrait()" style="margin-bottom: 10px;">
                                <i class="fa fa-trash"></i> Foto löschen</button>

                            <span ng-if="adminMemberEditCtrl.picFile[0].dataUrl == null && !adminMemberEditCtrl.hasNoPortrait()"><br /></span>

                            <!-- FOTO AUSWÄHLEN -->
                            <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 10px;" ng-if="adminMemberEditCtrl.picFile[0].dataUrl == null" ng-file-select ng-model="adminMemberEditCtrl.picFile" ng-accept="'.jpg'" ng-multiple="false" ng-file-change="adminMemberEditCtrl.generateThumb(adminMemberEditCtrl.picFile[0], $files)">
                                <i class="glyphicon glyphicon-plus"></i> Neues Foto auswählen</button>


                            <span ng-if="adminMemberEditCtrl.picFile[0].dataUrl == null"><br /></span>

                            <!-- SPEICHERN -->
                            <button type="button" class="btn btn-sm btn-success" style="margin-bottom: 10px;" ng-if="adminMemberEditCtrl.picFile[0].dataUrl != null" ng-click="adminMemberEditCtrl.upload(adminMemberEditCtrl.picFile)">
                                <i class="glyphicon glyphicon-upload"></i> Speichern
                            </button>
                            <br />
                            <!-- ABBRUCH -->
                            <button type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" ng-if="adminMemberEditCtrl.picFile[0].dataUrl != null" ng-click="adminMemberEditCtrl.remove()">
                                <i class="glyphicon glyphicon-ban-circle"></i> Abbrechen
                            </button>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <tabs>
                                <pane title="PRIVAT">

                                    <h4>Private Angaben</h4>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-sm-6">

                                            <!-- ADRESSE1 -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.adresse1.$invalid && !formEdit.adresse1.$pristine }">
                                                <label class="control-label" for="inputAdresse1">Adresszeile 1</label>

                                                <input type="text" name="adresse1" class="form-control" id="inputAdresse1" ng-model="adminMemberEditCtrl.adresse1">
                                            </div>

                                        </div>
                                        <div class="col-sm-6">

                                            <!-- ADRESSE2 -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.adresse2.$invalid && !formEdit.adresse2.$pristine }">
                                                <label class="control-label" for="inputAdresse2">Adresszeile 2</label>

                                                <input type="text" name="adresse2" class="form-control" id="inputAdresse2" ng-model="adminMemberEditCtrl.adresse2">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">

                                            <!-- PLZ -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.plz.$invalid && !formEdit.plz.$pristine }">
                                                <label class="control-label" for="inputPLZ">PLZ</label>

                                                <input type="text" name="plz" class="form-control" id="inputPLZ" ng-model="adminMemberEditCtrl.plz">
                                            </div>

                                        </div>
                                        <div class="col-sm-5">

                                            <!-- ORT -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.ort.$invalid && !formEdit.ort.$pristine }">
                                                <label class="control-label" for="inputOrt">Ort</label>

                                                <input type="text" name="ort" class="form-control" id="inputOrt" ng-model="adminMemberEditCtrl.ort">
                                            </div>

                                        </div>

                                        <div class="col-sm-4">

                                            <!-- LAND -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.land.$invalid && !formEdit.land.$pristine }">
                                                <label class="control-label" for="inputLand">Land</label>

                                                <input type="text" name="land" class="form-control" id="inputLand" ng-model="adminMemberEditCtrl.land">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">

                                            <!-- EMAIL -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.email.$invalid && !formEdit.email.$pristine }">
                                                <label class="control-label" for="inputEMail"><i class="fa fa-envelope-o"></i> E-Mail</label>

                                                <input type="text" name="email" class="form-control" id="inputEMail" ng-model="adminMemberEditCtrl.email">
                                            </div>

                                        </div>
                                        <div class="col-sm-3">

                                            <!-- MOBILE -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.mobile.$invalid && !formEdit.mobile.$pristine }">
                                                <label class="control-label" for="inputMobile">Mobile</label>

                                                <input type="text" name="mobile" class="form-control" id="inputMobile" ng-model="adminMemberEditCtrl.mobile">
                                            </div>

                                        </div>
                                        <div class="col-sm-3">

                                            <!-- TEL -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.tel.$invalid && !formEdit.tel.$pristine }">
                                                <label class="control-label" for="inputTelefon">Telefon</label>

                                                <input type="text" name="tel" class="form-control" id="inputTelefon" ng-model="adminMemberEditCtrl.tel">
                                            </div>

                                        </div>
                                        <div class="col-sm-3">

                                            <!-- FAX -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.fax.$invalid && !formEdit.fax.$pristine }">
                                                <label class="control-label" for="inputFax">Fax</label>

                                                <input type="text" name="fax" class="form-control" id="inputFax" ng-model="adminMemberEditCtrl.fax">
                                            </div>

                                        </div>
                                    </div>

                                </pane>
                                <pane title="FIRMA">
                                    <h4>Geschäftliche Angaben</h4>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-sm-4">

                                            <!-- FIRMA -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma.$invalid && !formEdit.firma.$pristine }">
                                                <label class="control-label" for="inputFirma">Firma</label>

                                                <input type="text" name="firma" class="form-control" id="inputFirma" ng-model="adminMemberEditCtrl.firma">
                                            </div>

                                        </div>
                                        <div class="col-sm-4">

                                            <!-- POSITION -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.position.$invalid && !formEdit.position.$pristine }">
                                                <label class="control-label" for="inputPosition">Position</label>

                                                <input type="text" name="position" class="form-control" id="inputPosition" ng-model="adminMemberEditCtrl.position">
                                            </div>

                                        </div>
                                        <div class="col-sm-4">

                                            <!-- BERUF -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.beruf.$invalid && !formEdit.beruf.$pristine }">
                                                <label class="control-label" for="inputBeruf">Beruf</label>

                                                <input type="text" name="beruf" class="form-control" id="inputBeruf" ng-model="adminMemberEditCtrl.beruf">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <!-- ADRESSE1 -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_adresse1.$invalid && !formEdit.firma_adresse1.$pristine }">
                                                <label class="control-label" for="inputFirmaAdresse1">Adresszeile 1</label>

                                                <input type="text" name="firma_adresse1" class="form-control" id="inputFirmaAdresse1" ng-model="adminMemberEditCtrl.firma_adresse1">
                                            </div>

                                        </div>
                                        <div class="col-sm-6">

                                            <!-- ADRESSE2 -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_adresse2.$invalid && !formEdit.firma_adresse2.$pristine }">
                                                <label class="control-label" for="inputFirmaAdresse2">Adresszeile 2</label>

                                                <input type="text" name="firma_adresse2" class="form-control" id="inputFirmaAdresse2" ng-model="adminMemberEditCtrl.firma_adresse2">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">

                                            <!-- PLZ -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_plz.$invalid && !formEdit.firma_plz.$pristine }">
                                                <label class="control-label" for="inputFirmaPLZ">PLZ</label>

                                                <input type="text" name="firma_plz" class="form-control" id="inputFirmaPLZ" ng-model="adminMemberEditCtrl.firma_plz">
                                            </div>

                                        </div>
                                        <div class="col-sm-5">

                                            <!-- ORT -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_ort.$invalid && !formEdit.firma_ort.$pristine }">
                                                <label class="control-label" for="inputFirmaOrt">Ort</label>

                                                <input type="text" name="firma_ort" class="form-control" id="inputFirmaOrt" ng-model="adminMemberEditCtrl.firma_ort">
                                            </div>

                                        </div>

                                        <div class="col-sm-4">

                                            <!-- LAND -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_land.$invalid && !formEdit.firma_land.$pristine }">
                                                <label class="control-label" for="inputFirmaLand">Land</label>

                                                <input type="text" name="firma_land" class="form-control" id="inputFirmaLand" ng-model="adminMemberEditCtrl.firma_land">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">

                                            <!-- TEL -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_tel.$invalid && !firma_tel.tel.$pristine }">
                                                <label class="control-label" for="inputFirmaTelefon">Telefon</label>

                                                <input type="text" name="firma_tel" class="form-control" id="inputFirmaTelefon" ng-model="adminMemberEditCtrl.firma_tel">
                                            </div>

                                        </div>
                                        <div class="col-sm-3">

                                            <!-- FAX -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.firma_fax.$invalid && !formEdit.firma_fax.$pristine }">
                                                <label class="control-label" for="inputFirmaFax">Fax</label>

                                                <input type="text" name="firma_fax" class="form-control" id="inputFirmaFax" ng-model="adminMemberEditCtrl.firma_fax">
                                            </div>

                                        </div>
                                    </div>
                                </pane>
                                <pane title="LOGIN">
                                    <h4>Zugangsdaten</h4>

                                    <div class="row" style="margin-top: 20px;">

                                        <div class="col-sm-4">
                                            <!-- BENUTZERNAME -->
                                            <div class="form-group" ng-class="{ 'has-error' : formEdit.login_username.$invalid && !formEdit.login_username.$pristine }">
                                                <label class="control-label" for="inputUsername">Benutzername</label>
                                                <input type="text" name="login_username" class="form-control" id="inputUsername" ng-model="adminMemberEditCtrl.login_username">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- PASSWORD -->
                                            <div class="form-group">
                                                <label class="control-label" for="inputPassword">Passwort</label>
                                                <input type="text" name="password" class="form-control" id="inputPassword" ng-model="adminMemberEditCtrl.password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="button" ng-click="adminMemberEditCtrl.sendEmailLoginCredentials()" class="btn btn-sm btn-primary" style="margin-bottom: 10px;">
                                                <i class="fa fa-send"></i> Zugangsdaten senden</button>
                                        </div>

                                    </div>


                                </pane>

                            </tabs>

                        </div>
                    </div>


                </div>


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminMemberEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="adminMemberEditCtrl.isDeleted()">
                                <i class="fa fa-save"></i> Speichern & Wiederherstellen
                            </button>

                            <div class="btn-group" ng-if="adminMemberEditCtrl.editData() && !adminMemberEditCtrl.isDeleted()">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-send"></i> Massen E-Mail senden <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li ng-repeat="email in adminMemberEditCtrl.massemails track by $index">
                                        <a ng-click="adminMemberEditCtrl.sendMassEmail(email.id)">{{email.subject}}</a>
                                    </li>

                                </ul>
                            </div>

                            <button type="button" ng-click="adminMemberEditCtrl.delete()" class="btn btn-danger" ng-if="adminMemberEditCtrl.editData() && !adminMemberEditCtrl.isDeleted()">
                                <i class="fa fa-trash"></i> Löschen</button>
                            <button type="reset" ng-click="adminMemberEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

<tabs>
    <pane title="EMAILS" ng-if="adminMemberEditCtrl.editData()">
        <h4>Versendete Emails</h4>

        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12">

                <div ui-grid="gridEmails" class="myGrid" style="height: 360px;" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

            </div>
        </div>

    </pane>

    <pane title="MOBILE" ng-if="adminMemberEditCtrl.editData()">
        <h4>Mobile Geräte</h4>

        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12">

                <div ui-grid="gridDevices" class="myGrid" style="height: 180px;" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

            </div>
        </div>


        <div style="margin-top: 20px;" ng-if="adminMemberEditCtrl.showSentLog()">
            <h3 class="text-primary">
                <small>Sendeprotokoll:</small>
                <span x3m-member-log-title-panel></span></h3>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-sm-8">

                    <div ui-grid="gridSentLog" class="myGrid" style="height: 180px;" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

                </div>
            </div>
        </div>
    </pane>


</tabs>

<div ng-include="'views/admin/includes/footer.html'"></div>






