<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <ul class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li class="active">Mitgliederverwaltung</li>
            </ul>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-header">
    <h1>Mitgliederverwaltung</h1>
</div>


<div class="row">

    <div class="col-md-12">


        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" ng-click="adminMemberCtrl.newMember()"><span class="glyphicon glyphicon-plus"></span> Neues Miglied erfassen</button>

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="!adminMemberCtrl.hasMemberSelected()">
                        <i class="fa fa-send"></i> Massen E-Mail senden <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                        <li ng-repeat="email in adminMemberCtrl.massemails track by $index">
                            <a ng-click="adminMemberCtrl.sendMassemail(email.id)">{{email.subject}}</a>
                        </li>

                    </ul>
                </div>
                <button class="btn btn-sm btn-success" ng-click="adminMemberCtrl.sendMessageToMobile()" ng-disabled="!adminMemberCtrl.hasMemberSelected()"><span class="fa fa-send"></span> Push-Nachricht senden</button>

                <p>&nbsp;</p>
            </div>
        </div>


    </div>

</div>


<div class="row">

    <div class="col-md-12">

        <div ui-grid="gridOptions" class="myGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns></div>

    </div>

</div>

<!-- Footer -->
<div ng-include="'views/admin/includes/footer.html'"></div>
<!-- /Footer -->

