<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/configmobileapp">Konfiguration MobileApp</a></li>
                <li class="active"><span x3m-configmobileapp-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->


<div class="page-title">
    <h1 class="text-primary"><span x3m-configmobileapp-title-panel></span></h1>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminConfigmobileappEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminConfigmobileappEditCtrl.editData()" class="panel-heading">
                    <span x3m-configmobileapp-info-panel></span>
                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Erklärung</label>

                            <p class="text-primary">
                                {{adminConfigmobileappEditCtrl.description}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">

                            <!-- KEY -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.keyform.$invalid && !formEdit.keyform.$pristine }">
                                <label class="control-label" for="inputKey">Schlüssel</label>

                                <input type="text" name="keyform" class="form-control" id="inputKey" ng-model="adminConfigmobileappEditCtrl.keyform" required disabled>

                                <p ng-show="formEdit.keyform.$error.required && !formEdit.keyform.$pristine" class="help-block">Bitte Schlüssel eingeben</p>
                            </div>

                        </div>


                        <div class="col-sm-6">

                            <!-- KEY -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.valueform.$invalid && !formEdit.valueform.$pristine }">
                                <label class="control-label" for="inputValue">Wert</label>

                                <input type="text" name="keyvalue" class="form-control" id="inputValue" ng-model="adminConfigmobileappEditCtrl.valueform" required>

                                <p ng-show="formEdit.valueform.$error.required && !formEdit.valueform.$pristine" class="help-block">Bitte Wert eingeben</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminConfigmobileappEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern
                            </button>
                            <button type="reset" ng-click="adminConfigmobileappEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






