<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li class="active">Konfiguration MobileApp</li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->



<div class="page-header">
    <h1>Konfiguration MobileApp</h1>
</div>

<p class="text-danger">Vorsicht beim Ändern der Werte. Diese Konfigurationen steuern die Mobile App!</p>


<div class="row">

    <div class="col-md-12">

        <p>&nbsp;</p>

        <div ui-grid="gridOptions" class="myGrid"  ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

    </div>

</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






