<div ng-include="'views/website/includes/navbar.html'"></div>


<div class="page-header">
    <h1>Registrierung abschliessen</h1>
</div>

<p>
    Um die Registrierung abzuschliessen, gibst Du den Aktivierungscode ein, den Du von uns via Email erhalten hast.
</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-8">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Aktivierung</h3>
            </div>

            <div class="panel-body">

                <form name="formActivateAccount" class="form-horizontal" novalidate ng-submit="activateAccountCtrl.submitForm(formActivateAccount.$valid)">

                    <!-- ACTIVATIONCODE -->
                    <div class="form-group" ng-class="{ 'has-error' : formActivateAccount.activationcode.$invalid && !formActivateAccount.activationcode.$pristine }">
                        <label class="col-sm-3 control-label" for="inputactivationcode">Aktivierungscode</label>

                        <div class="col-sm-7">
                            <input type="text" name="activationcode" class="form-control" id="inputactivationcode" ng-model="activateAccountCtrl.activationcode" required>
                            <p ng-show="formActivateAccount.activationcode.$error.required && !formActivateAccount.activationcode.$pristine" class="help-block">Bitte den Aktivierungscode eingeben, den wir Dir via Email geschickt haben.</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" ng-disabled="formActivateAccount.$invalid">Account aktivieren</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>
