<div ng-include="'views/website/includes/navbar.html'"></div>

<div class="page-header">
    <h1>Du verfügst bereits über ein Konto?</h1>
</div>

<p>
    Für das Login brauchst Du die Zugangsdaten. Wenn Du das Passwort vergessen hast, dann klicke hier: <a href="#/auth/requestpwd">Passwort anfordern</a>
</p>

<div class="form-group">
    <div class="col-sm-12">
        <h4>Testaccounts</h4>
        <p>Administrator: <b>admin/admin</b><br />
        Benutzer: <b>user1/user</b></p>
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-8">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>

            <div class="panel-body">

                <blockquote>
                    <p>
                        Wenn Du noch kein Konto hast, dann kannst du <a href="#/auth/register">hier</a> eines erstellen.
                    </p>
                </blockquote>


                <form name="formLogin" class="form-horizontal" novalidate ng-submit="loginCtrl.submitForm(formLogin.$valid)">

                    <!-- BENUTZERNAME -->
                    <div class="form-group" ng-class="{ 'has-error' : formLogin.username.$invalid && !formLogin.username.$pristine }">
                        <label class="col-sm-3 control-label" for="inputUsername">Benutzername</label>

                        <div class="col-sm-5">
                            <input type="text" name="username" class="form-control" id="inputUsername" ng-model="loginCtrl.username" required>
                            <p ng-show="formLogin.username.$error.required && !formLogin.username.$pristine" class="help-block">Bitte der Benutzername eingeben</p>
                        </div>
                    </div>

                    <!-- PASSWORT -->
                    <div class="form-group" ng-class="{ 'has-error' : formLogin.password.$invalid && !formLogin.password.$pristine }">
                        <label class="col-sm-3 control-label" for="inputPassword">Passwort</label>

                        <div class="col-sm-5">
                            <input type="password" name="password" class="form-control" id="inputPassword" ng-model="loginCtrl.password" required>
                            <p ng-show="formLogin.password.$error.required && !formLogin.password.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                        </div>
                    </div>

                    <!-- ANGEMELDET BLEIBEN? -->
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" ng-model="loginCtrl.remember"> angemeldet bleiben
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary" ng-disabled="formLogin.$invalid">Login</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>
