<div ng-include="'views/website/includes/navbar.html'"></div>


<div class="page-header">
    <h1>Registrierung</h1>
</div>

<p>
    Hier erstellt Du ein Konto. Bitte fülle alle Felder aus und klicke dann auf "REGISTRIEREN". Wir senden Dir dann ein Bestätigungsemail mit den weiteren Instruktionen.
</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-8">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Registrieren</h3>
            </div>

            <div class="panel-body">

                <blockquote>
                    <p>
                        Falls Du bereits ein Konto hast, dann gehe zum <a href="#/auth/login">Login</a>.
                    </p>
                </blockquote>
                <form name="formRegister" class="form-horizontal" novalidate ng-submit="registerCtrl.submitForm(formRegister.$valid)">

                    <!-- USERNAME -->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.username.$invalid && !formRegister.username.$pristine }">
                        <label class="col-sm-3 control-label" for="inputUsername">Benutzername</label>

                        <div class="col-sm-5">
                            <input type="text" name="username" class="form-control" id="inputUsername" ng-model="registerCtrl.username" ng-minlength="4" ng-maxlength="255" required x3m-unique-username>
                            <p ng-show="formRegister.username.$error.required && !formRegister.username.$pristine" class="help-block">Bitte der Benutzername eingeben</p>
                            <p ng-show="formRegister.username.$error.minlength" class="help-block">Der Benutzername muss min. 4stellig sein</p>
                            <p ng-show="formRegister.username.$error.maxlength" class="help-block">Der Benutzername ist zu lang</p>
                            <p ng-show="formRegister.username.$error.unique" class="help-block">Dieser Benutzername existiert bereits und kann nicht verwendet werden. Bitte ändern.</p>
                        </div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.password.$invalid && !formRegister.password.$pristine }">
                        <label class="col-sm-3 control-label" for="inputPassword">Passwort</label>

                        <div class="col-sm-5">
                            <input type="password" name="password" class="form-control" id="inputPassword" ng-model="registerCtrl.password" ng-minlength="6" ng-maxlength="32" required>
                            <p ng-show="formRegister.password.$error.required && !formRegister.password.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                            <p ng-show="formRegister.password.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                            <p ng-show="formRegister.password.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                        </div>
                    </div>

                    <!-- PASSWORD CONFIRM -->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.password_confirm.$invalid && !formRegister.password_confirm.$pristine }">
                        <label class="col-sm-3 control-label" for="inputPasswordConfirm">Passwort wiederholen</label>

                        <div class="col-sm-5">
                            <input type="password" name="password_confirm" class="form-control" id="inputPasswordConfirm" ng-model="registerCtrl.password_confirm" ng-minlength="6" ng-maxlength="32" x3m-equal="{{registerCtrl.password}}" required>
                            <p ng-show="formRegister.password_confirm.$error.required && !formRegister.password_confirm.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                            <p ng-show="formRegister.password_confirm.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                            <p ng-show="formRegister.password_confirm.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                            <p ng-show="formRegister.password_confirm.$error.equals && !formRegister.password_confirm.$pristine" class="help-block">Die Passwörter sind nicht identisch!</p>
                        </div>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.email.$invalid && !formRegister.email.$pristine }">
                        <label class="col-sm-3 control-label" for="inputEmail">Emailadresse</label>

                        <div class="col-sm-5">
                            <input type="email" name="email" class="form-control" id="inputEmail" ng-model="registerCtrl.email" required x3m-email x3m-unique-email>
                            <p ng-show="formRegister.email.$error.required && !formRegister.email.$pristine" class="help-block">Bitte die Emailadresse eingeben</p>
                            <p ng-show="formRegister.email.$error.unique" class="help-block">Es besteht bereits ein Konto mit dieser Emailadresse</p>
                            <p ng-show="formRegister.email.$error.email" class="help-block">Bitte gültig Emailadresse eingeben</p>
                        </div>
                    </div>

                    <!-- FIRST NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.first_name.$invalid && !formRegister.first_name.$pristine }">
                        <label class="col-sm-3 control-label" for="inputFirstName">Vorname</label>

                        <div class="col-sm-5">
                            <input type="text" name="first_name" class="form-control" id="inputFirstName" ng-model="registerCtrl.first_name" required>
                            <p ng-show="formRegister.first_name.$error.required && !formRegister.first_name.$pristine" class="help-block">Bitte Vorname eingeben</p>
                        </div>
                    </div>

                    <!-- LAST NAME-->
                    <div class="form-group" ng-class="{ 'has-error' : formRegister.last_name.$invalid && !formRegister.last_name.$pristine }">
                        <label class="col-sm-3 control-label" for="inputLastName">Nachname</label>

                        <div class="col-sm-5">
                            <input type="text" name="last_name" class="form-control" id="inputLastName" ng-model="registerCtrl.last_name" required>
                            <p ng-show="formRegister.last_name.$error.required && !formRegister.last_name.$pristine" class="help-block">Bitte Nachname eingeben</p>
                        </div>
                    </div>


                    <!-- SEX -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Geschlecht</label>

                        <div class="col-sm-5">

                            <ui-select ng-model="registerCtrl.sex" theme="selectize" ng-disabled="disabled">

                                <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="option.value as option in registerCtrl.sexEnums | propsFilter: {label: $select.search}">
                                    <div ng-bind-html="option.label | highlight: $select.search"></div>
                                </ui-select-choices>

                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary" ng-disabled="formRegister.$invalid">Registrieren</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>
