<div ng-include="'views/website/includes/navbar.html'"></div>


<div class="page-header">
    <h1>Passwort anfordern</h1>
</div>

<p>
    Gib deinen Benutzername ein und klicke auf "Passwort anfordern". Du bekommst dann von uns ein Email mit den Instruktionen, wie du ein neues Passwort erfassen kannst.
</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-6">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Passwort vergessen?</h3>
            </div>

            <div class="panel-body">

                <form name="formRequestPwd" class="form-horizontal" novalidate ng-submit="reqPwdCtrl.submitForm(formRequestPwd.$valid)">

                    <!-- BENUTZERNAME -->
                    <div class="form-group" ng-class="{ 'has-error' : formRequestPwd.username.$invalid && !formRequestPwd.username.$pristine }">
                        <label class="col-sm-3 control-label" for="inputUsername">Benutzername</label>

                        <div class="col-sm-5">
                            <input type="text" name="username" class="form-control" id="inputUsername" ng-model="reqPwdCtrl.username" required>
                            <p ng-show="formRequestPwd.username.$error.required && !formRequestPwd.username.$pristine" class="help-block">Bitte der Benutzername eingeben</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary" ng-disabled="formRequestPwd.$invalid">Passwort anfordern</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>
