<div ng-include="'views/website/includes/navbar.html'"></div>


<div class="page-header">
    <h1>Passwort erneuern</h1>
</div>

<p>
    Hier kanst Du ein neues Passwort erfassen. Den Resetcode hast Du von uns via Email erhalten.
</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-8">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Passwort erneuern</h3>
            </div>

            <div class="panel-body">

                <form name="formResetPassword" class="form-horizontal" novalidate ng-submit="resetPwdCtrl.submitForm(formResetPassword.$valid)">

                    <!-- PASSWORD -->
                    <div class="form-group" ng-class="{ 'has-error' : formResetPassword.password.$invalid && !formResetPassword.password.$pristine }">
                        <label class="col-sm-3 control-label" for="inputPassword">Neues Passwort</label>

                        <div class="col-sm-5">
                            <input type="password" name="password" class="form-control" id="inputPassword" ng-model="resetPwdCtrl.password" ng-minlength="6" ng-maxlength="32" required>
                            <p ng-show="formResetPassword.password.$error.required && !formResetPassword.password.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                            <p ng-show="formResetPassword.password.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                            <p ng-show="formResetPassword.password.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                        </div>
                    </div>

                    <!-- PASSWORD CONFIRM -->
                    <div class="form-group" ng-class="{ 'has-error' : formResetPassword.password_confirm.$invalid && !formResetPassword.password_confirm.$pristine }">
                        <label class="col-sm-3 control-label" for="inputPasswordConfirm">Passwort wiederholen</label>

                        <div class="col-sm-5">
                            <input type="password" name="password_confirm" class="form-control" id="inputPasswordConfirm" ng-model="resetPwdCtrl.password_confirm" ng-minlength="6" ng-maxlength="32" x3m-equal="{{accountCtrl.password}}">
                            <p ng-show="formResetPassword.password_confirm.$error.equals && !formResetPassword.password_confirm.$pristine" class="help-block">Die Passwörter sind nicht identisch!</p>
                        </div>
                    </div>

                    <!-- RESET CODE -->
                    <div class="form-group" ng-class="{ 'has-error' : formResetPassword.resetcode.$invalid && !formResetPassword.resetcode.$pristine }">
                        <label class="col-sm-3 control-label" for="inputresetcode">Resetcode</label>

                        <div class="col-sm-7">
                            <input type="text" name="resetcode" class="form-control" id="inputresetcode" ng-model="resetPwdCtrl.resetcode" required>
                            <p ng-show="formResetPassword.resetcode.$error.required && !formResetPassword.resetcode.$pristine" class="help-block">Bitte den Resetcode eingeben, den wir Dir via Email geschickt haben.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" ng-disabled="formResetPassword.$invalid">Ausführen</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>
