<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li class="active"><i class="glyphicon glyphicon-hdd"></i> Filemanager</li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->





<div class="page-header ng-scope">
    <h1>Filemanager</h1>
</div>


<div class="row">
    <div class="col-sm-4">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Verzeichnisstruktur</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div js-tree="adminFilemanagerCtrl.treeConfig" ng-model="adminFilemanagerCtrl.treeData" should-apply="adminFilemanagerCtrl.applyModelChanges()" tree="adminFilemanagerCtrl.treeInstance" tree-events="ready:adminFilemanagerCtrl.readyTree;select_node:adminFilemanagerCtrl.selectNode;rename_node:adminFilemanagerCtrl.renameNode"></div>

                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="reset" ng-click="adminFilemanagerCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="col-sm-8">

        <div ui-grid="gridOptions" class="myGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-edit ui-grid-move-columns></div>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






