<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/emails">E-Mails</a></li>
                <li class="active"><span x3m-email-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h1 class="text-primary"><span x3m-email-title-panel></span></h1>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminEmailEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminEmailEditCtrl.editData()" class="panel-heading">
                    <span x3m-email-info-panel></span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">

                            <!-- SENDER EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.sender_email.$invalid && !formEdit.sender_email.$pristine }">
                                <label class="control-label" for="inputSenderEmail">Absender Email</label>

                                <input type="text" name="sender_email" class="form-control" id="inputSenderEmail" ng-model="adminEmailEditCtrl.sender_email" x3m-email required>

                                <p ng-show="formEdit.sender_email.$error.required && !formEdit.sender_email.$pristine" class="help-block">Bitte E-Mailadresse eingeben</p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <!-- SENDER NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.sender_name.$invalid && !formEdit.sender_name.$pristine }">
                                <label class="control-label" for="inputSenderName">Absender Name</label>

                                <input type="text" name="sender_name" class="form-control" id="inputSenderName" ng-model="adminEmailEditCtrl.sender_name" required>

                                <p ng-show="formEdit.sender_name.$error.required && !formEdit.sender_name.$pristine" class="help-block">Bitte Name eingeben</p>
                            </div>

                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <label class="control-label">Empfänger</label>

                                <ui-select multiple ng-model="adminEmailEditCtrl.recipients" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="true">
                                    <ui-select-match placeholder="Select Recipient...">{{$item.name}} <{{$item.email}}></ui-select-match>
                                    <ui-select-choices repeat="option in adminEmailEditCtrl.recipientsOptions | propsFilter: {email: $select.search, name: $select.search, typetxt: $select.search}">
                                        <div ng-bind-html="option.email | highlight: $select.search"></div>
                                        <small>
                                            <span ng-bind-html="''+option.name | highlight: $select.search"></span>
                                            (<span ng-bind-html="''+option.typetxt | highlight: $select.search"></span>)
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <!-- SUBJECT -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.subject.$invalid && !formEdit.subject.$pristine }">
                                <label class="control-label" for="inputSubject">Betreff</label>

                                <input type="text" name="subject" class="form-control" id="inputSubject" ng-model="adminEmailEditCtrl.subject" required>

                                <p ng-show="formEdit.subject.$error.required && !formEdit.subject.$pristine" class="help-block">Bitte Betreff eingeben</p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div text-angular="text-angular" name="htmlcontent" ng-model="adminEmailEditCtrl.htmlcontent" ta-disabled='disabled'></div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-paperclip"></i> Anhang</label>

                                <ui-select multiple ng-model="adminEmailEditCtrl.docs" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="true">
                                    <ui-select-match placeholder="Select Document...">{{$item.filename}} ({{$item.filesize}})</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminEmailEditCtrl.docOptions | propsFilter: {filename: $select.search, description: $select.search, filesize: $select.search}">
                                        <div ng-bind-html="option.filename | highlight: $select.search"></div>
                                        <small>
                                            <span ng-bind-html="''+option.description | highlight: $select.search"></span>
                                            (<span ng-bind-html="''+option.filesize | highlight: $select.search"></span>)
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminEmailEditCtrl.isDeleted()"><i class="fa fa-send"></i> Senden</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="adminEmailEditCtrl.isDeleted()"><i class="fa fa-save"></i> Wiederherstellen</button>

                            <button type="button" ng-click="adminEmailEditCtrl.archive()" class="btn btn-warning" ng-if="adminEmailEditCtrl.editData() && adminEmailEditCtrl.isArchived() == false && !adminEmailEditCtrl.isDeleted()"><i class="fa fa-database"></i> Archivieren</button>
                            <button type="button" ng-click="adminEmailEditCtrl.unarchive()" class="btn btn-warning" ng-if="adminEmailEditCtrl.editData() && adminEmailEditCtrl.isArchived() != false && !adminEmailEditCtrl.isDeleted()"><i class="glyphicon glyphicon-flash"></i> Aktivieren</button>
                            <button type="button" ng-click="adminEmailEditCtrl.delete()" class="btn btn-danger" ng-if="adminEmailEditCtrl.editData() && !adminEmailEditCtrl.isDeleted()"><i class="fa fa-trash"></i> Löschen</button>
                            <button type="reset" ng-click="adminEmailEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






