<div ng-include="'views/website/includes/navbar.html'"></div>


<div class="page-header">
    <h1>BASE41 - WebAppStarter Projekt</h1>
</div>


<div class="row">

    <div class="col-md-12">

        <p>BASE41 ist ein Starterprojekt für Webapplikationen realisiert mit <strong>Laravel 4.2</strong> (als Backendservice) und <strong>AngularJS 1.3</strong> (als Frontendkomponente).</p>

    </div>

</div>


<div ng-include="'views/website/includes/footer.html'"></div>






