<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/appointments">Termine</a></li>
                <li class="active"><span x3m-appointment-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h1 class="text-primary"><span x3m-appointment-title-panel></span></h1>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminAppointmentEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminAppointmentEditCtrl.editData()" class="panel-heading">
                    <span x3m-appointment-info-panel></span>
                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-6">

                            <!-- TITLE -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.title.$invalid && !formEdit.title.$pristine }">
                                <label class="control-label" for="inputTitle">Titel</label>

                                <input type="text" name="subject" class="form-control" id="inputTitle" ng-model="adminAppointmentEditCtrl.title" required>

                                <p ng-show="formEdit.title.$error.required && !formEdit.title.$pristine" class="help-block">Bitte Titel eingeben</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <!-- TITLE -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.description.$invalid && !formEdit.description.$pristine }">
                                <label class="control-label" for="inputDescription">Beschreibung</label>

                                <input type="text" name="subject" class="form-control" id="inputDescription" ng-model="adminAppointmentEditCtrl.description">
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-3">
                            <!-- START DATE -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.startdate.$invalid && !formEdit.startdate.$pristine }">

                                <div class="form-group" ng-class="{'has-error': formEdit.startdate.$invalid}">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Startdatum</label>
                                    <input type="text" class="form-control" ng-model="adminAppointmentEditCtrl.startdateForm" name="startdateForm" data-autoclose="1" bs-datepicker required>
                                    <p ng-show="formEdit.startdate.$error.required && !formEdit.startdate.$pristine" class="help-block">Bitte Startdatum eingeben</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <!-- START TIME -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.starttime.$invalid}">
                                    <label class="control-label"><i class="fa fa-clock-o"></i> Startzeit</label>
                                    <input type="text" class="form-control" ng-model="adminAppointmentEditCtrl.starttimeForm" name="starttimeForm" data-autoclose="0" data-time-format="HH:mm" data-time-type="number" bs-timepicker>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <!-- END DATE -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.enddate.$invalid}">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Endedatum</label>
                                    <input type="text" class="form-control" ng-model="adminAppointmentEditCtrl.enddateForm" name="enddateForm" data-autoclose="1" bs-datepicker>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <!-- END TIME -->
                            <div class="form-group">

                                <div class="form-group" ng-class="{'has-error': formEdit.endtime.$invalid}">
                                    <label class="control-label"><i class="fa fa-clock-o"></i> Endezeit</label>
                                    <input type="text" class="form-control" ng-model="adminAppointmentEditCtrl.endtimeForm" name="endtimeForm" data-autoclose="0" data-time-format="HH:mm" data-time-type="number"  bs-timepicker>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminAppointmentEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="adminAppointmentEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern & Wiederherstellen</button>

                            <button type="button" ng-click="adminAppointmentEditCtrl.delete()" class="btn btn-danger" ng-if="adminAppointmentEditCtrl.editData() && !adminAppointmentEditCtrl.isDeleted()"><i class="fa fa-trash"></i> Löschen</button>
                            <button type="reset" ng-click="adminAppointmentEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






