<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="" ng-controller="WebsiteFooterController as footerCtrl">
    <p class="text-muted">Copyright © 2015 <a href="http://www.x3m.ch">Xtreme Software GmbH, Schweiz</a> // Alle Rechte vorbehalten // App-Version: <strong>{{ footerCtrl.app_version }}</strong>
</div>
