<span ng-controller="WebsiteNavbarController as navCtrl">

    <header style="height: 60px;" id="topNav" class="topHead">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button style="margin-top: 2px; margin-left: 0px; background: transparent;" class="navbar-toggle  btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars" style="font-size: 21px; color: #3399F3;"></i>
            </button>
            <!-- /Mobile Menu Button -->


            <!-- Logo text or image -->
            <a style="margin-top: -10px; line-height: 50px;" class="logo" href="#/admin">
                <img style="margin-top: -10px;" src="img/base41_logo1.png">
            </a>
            <!-- /Logo text or image -->

            <!-- Top Nav -->
            <div style="margin-top: 6px;" class="navbar-collapse nav-main-collapse collapse pull-right topFix navbar-right">

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 5px; padding-bottom: 5px;">Mobile App <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: navCtrl.isActive('/admin/members')}"><a href="#/admin/members"><i class="glyphicon glyphicon-user" style="padding-right: 8px;"></i> Mitglieder</a></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/articles')}"><a href="#/admin/articles"><i class="fa fa-newspaper-o" style="padding-right: 8px;"></i> News-Artikel</a></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/appointments')}"><a href="#/admin/appointments"><i class="fa fa-calendar" style="padding-right: 8px;"></i> Termine</a></li>
                            <li role="presentation" class="divider"></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/configmobileapp')}"><a href="#/admin/configmobileapp"><i class="fa fa-cog" style="padding-right: 8px;"></i> Konfiguration</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding-top: 5px; padding-bottom: 5px;">E-Mails
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: navCtrl.isActive('/admin/emails')}"><a href="#/admin/emails"><i class="fa fa-send" style="padding-right: 8px;"></i> E-Mails</a></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/massemails')}"><a href="#/admin/massemails"><i class="fa fa-envelope-o" style="padding-right: 8px;"></i> Massen E-Mails</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding-top: 5px; padding-bottom: 5px;">Administration
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: navCtrl.isActive('/admin/users')}"><a href="#/admin/users"><i class="glyphicon glyphicon-user" style="padding-right: 8px;"></i> Benutzer</a></li>
                            <li role="presentation" class="divider"></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/filemanager')}"><a href="#/admin/filemanager"><i class="glyphicon glyphicon-hdd" style="padding-right: 8px;"></i> Filemanager</a></li>
                            <li ng-class="{active: navCtrl.isActive('/admin/emailtemplates')}"><a href="#/admin/emailtemplates"><i class="fa fa-envelope" style="padding-right: 8px;"></i> E-Mail Templates</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
            <!-- /Top Nav -->

        </div>
    </header>

</span>




