<span ng-controller="WebsiteNavbarController as navCtrl">
    <div class="pull-right">
        <a href="#/useraccount" id="portrait" class="dropdown-toggle" style="padding-top: 5px; padding-bottom: 5px;" data-toggle="dropdown" role="button" aria-expanded="false" tooltips="" tooltip-title="{{navCtrl.userDisplay}}" tooltip-side="left" tooltip-size="small" tooltip-try="0"><span x3m-portrait-navbar></span></a>
        <a href="#/" style="padding-top: 5px; padding-bottom: 5px;"><i class="fa fa-desktop"></i><span class="hidden-xs"> Webseite</span></a>
        <a ng-click="navCtrl.logoff()" style="padding-top: 5px; padding-bottom: 5px;"><i class="fa fa-power-off"></i><span class="hidden-xs"> Logoff</span></a>
    </div>
</span>