<span ng-controller="WebsiteNavbarController as navCtrl">

<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <span class="pull-left" style="font-size: 11px;">
            <i class="fa fa-envelope-o"></i> <a href="mailto:base41@x3m.ch" style="font-size: 11px; margin-left: 5px;">base41@x3m.ch</a>
        </span>


        <div class="pull-right">
            <a ng-if="navCtrl.isLoggedin()" href="#/useraccount" id="portrait" class="dropdown-toggle" style="padding-top: 5px; padding-bottom: 5px;" data-toggle="dropdown" role="button" aria-expanded="false" tooltips="" tooltip-title="{{navCtrl.userDisplay}}" tooltip-side="left" tooltip-size="small" tooltip-try="0"><span x3m-portrait-navbar></span></a>
            <a ng-if="!navCtrl.isLoggedin()" href="#/auth/register"><span class="glyphicon glyphicon-pencil"></span> Registrieren</a></li>
            <a ng-if="!navCtrl.isLoggedin()" ng-class="{active: navCtrl.isActive('/auth/login')}" href="#/auth/login"><i class="fa fa-sign-in"></i> Login</a></li>
            <a ng-if="navCtrl.isAdmin()" href="#/admin"><i class="fa fa-cog"></i><span class="hidden-xs"> Admin Dashboard</span></a>
            <a ng-if="navCtrl.isLoggedin()" ng-click="navCtrl.logoff()" style="padding-top: 5px; padding-bottom: 5px;"><i class="fa fa-power-off"></i><span class="hidden-xs"> Logoff</span></a>
        </div>


    </div>
</header>
<!-- /Top Bar -->

<!-- TOP NAV -->
<header style="height: 60px;" id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
    <div class="container">

        <!-- Mobile Menu Button -->
        <button style="margin-top: 2px; margin-left: 0px; background: transparent;" class="navbar-toggle  btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars" style="font-size: 21px; color: #3399F3;"></i>
        </button>
        <!-- /Mobile Menu Button -->


        <!-- Logo text or image -->
        <a style="margin-top: -10px; line-height: 50px;" class="logo" href="#/">
            <img style="margin-top: -10px;" src="img/base41_logo1.png">
        </a>
        <!-- /Logo text or image -->


        <!-- Top Nav -->
        <div style="margin-top: 6px;" class="navbar-collapse nav-main-collapse collapse pull-right topFix">

            <ul class="nav navbar-nav">
                <li ng-class="{active: navCtrl.isActive('/contact')}"><a href="#/contact" style="padding-top: 5px; padding-bottom: 5px; padding-right: 0px;">Kontakt</a></li>
            </ul>

        </div>
        <!-- /Top Nav -->

    </div>
</header>

<span style="top: 66px;" id="header_shadow"></span>

</span>





