<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/users">Benutzerverwaltung</a></li>
                <li class="active"><span x3m-user-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->


<div class="page-title">
    <h2 class="text-primary"><span x3m-user-title-panel></span></h2>
    <h6 ng-if="adminUserEditCtrl.id != -1"><span x3m-user-subtitle-panel></span></h6>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminUserEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminUserEditCtrl.editData()" class="panel-heading">

                    <span x3m-user-info-panel></span>

                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">

                            <!-- USERNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.username.$invalid && !formEdit.username.$pristine }">
                                <label class="control-label" for="inputUsername">Benutzername</label>

                                <div ng-if="adminUserEditCtrl.createData()">
                                    <input type="text" name="username" class="form-control" id="inputUsername" ng-model="adminUserEditCtrl.username" ng-minlength="4" ng-maxlength="255" required x3m-unique-username>
                                </div>
                                <div ng-if="adminUserEditCtrl.editData()">
                                    <input type="text" name="username" class="form-control" id="inputUsername" ng-model="adminUserEditCtrl.username" ng-minlength="4" ng-maxlength="255" required x3m-unique-username="adminUserEditCtrl.username_current">
                                </div>

                                <p ng-show="formEdit.username.$error.required && !formEdit.username.$pristine" class="help-block">Bitte der Benutzername eingeben</p>
                                <p ng-show="formEdit.username.$error.minlength" class="help-block">Der Benutzername muss min. 4stellig sein</p>
                                <p ng-show="formEdit.username.$error.maxlength" class="help-block">Der Benutzername ist zu lang</p>
                                <p ng-show="formEdit.username.$error.unique" class="help-block">Dieser Benutzername existiert bereits und kann nicht verwendet werden. Bitte ändern.</p>

                            </div>

                        </div>
                        <div class="col-sm-6">

                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.email.$invalid && !formEdit.email.$pristine }">
                                <label class="control-label" for="inputEmail">Emailadresse</label>

                                <div ng-if="adminUserEditCtrl.createData()">
                                    <input type="email" name="email" class="form-control" id="inputEmail" ng-model="adminUserEditCtrl.email" required x3m-email x3m-unique-email>
                                </div>
                                <div ng-if="adminUserEditCtrl.editData()">
                                    <input type="email" name="email" class="form-control" id="inputEmail" ng-model="adminUserEditCtrl.email" required x3m-email x3m-unique-email="adminUserEditCtrl.email_current">
                                </div>

                                <p ng-show="formEdit.email.$error.required && !formEdit.email.$pristine" class="help-block">Bitte die Emailadresse eingeben</p>
                                <p ng-show="formEdit.email.$error.unique" class="help-block">Es besteht bereits ein Konto mit dieser Emailadresse</p>
                                <p ng-show="formEdit.email.$error.email" class="help-block">Bitte gültig Emailadresse eingeben</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">

                            <!-- FIRSTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.first_name.$invalid && !formEdit.first_name.$pristine }">
                                <label class="control-label" for="inputFirstName">Vorname</label>

                                <input type="text" name="first_name" class="form-control" id="inputFirstName" ng-model="adminUserEditCtrl.first_name" required>
                                <p ng-show="formEdit.first_name.$error.required && !formEdit.first_name.$pristine" class="help-block">Bitte Vorname eingeben</p>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <!-- LASTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.last_name.$invalid && !formEdit.last_name.$pristine }">
                                <label class="control-label" for="inputLasttName">Nachname</label>

                                <input type="text" name="last_name" class="form-control" id="inputLasttName" ng-model="adminUserEditCtrl.last_name" required>
                                <p ng-show="formEdit.last_name.$error.required && !formEdit.last_name.$pristine" class="help-block">Bitte Nachname eingeben</p>
                            </div>

                        </div>
                    </div>

                    <!-- Passwort nur bei Neuerfassung -->
                    <div ng-if="adminUserEditCtrl.createData()">
                        <div class="row">
                            <div class="col-sm-6">

                                <!-- PASSWORD -->
                                <div class="form-group" ng-class="{ 'has-error' : formEdit.password.$invalid && !formEdit.password.$pristine }">
                                    <label class="control-label" for="inputPassword">Passwort</label>

                                    <input type="password" name="password" class="form-control" id="inputPassword" ng-model="adminUserEditCtrl.password" ng-minlength="6" ng-maxlength="32" required>
                                    <p ng-show="formEdit.password.$error.required && !formEdit.password.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                                    <p ng-show="formEdit.password.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                                    <p ng-show="formEdit.password.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- PASSWORD CONFIRM -->
                                <div class="form-group" ng-class="{ 'has-error' : formEdit.password_confirm.$invalid && !formEdit.password_confirm.$pristine }">
                                    <label class="control-label" for="inputPasswordConfirm">Passwort wiederholen</label>

                                    <input type="password" name="password_confirm" class="form-control" id="inputPasswordConfirm" ng-model="adminUserEditCtrl.password_confirm" x3m-equal="{{adminUserEditCtrl.password}}" required>
                                    <p ng-show="formEdit.password_confirm.$error.required && !formEdit.password_confirm.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                                    <p ng-show="formEdit.password_confirm.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                                    <p ng-show="formEdit.password_confirm.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                                    <p ng-show="formEdit.password_confirm.$error.equals && !formEdit.password_confirm.$pristine" class="help-block">Die Passwörter sind nicht identisch!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-3">

                            <!-- SEX -->
                            <div class="form-group">
                                <label>Geschlecht: &nbsp;</label>

                                <ui-select ng-model="adminUserEditCtrl.sex" theme="selectize" ng-disabled="disabled">

                                    <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminUserEditCtrl.sexEnums | propsFilter: {label: $select.search}">
                                        <div ng-bind-html="option.label | highlight: $select.search"></div>
                                    </ui-select-choices>

                                </ui-select>
                            </div>

                            <!-- GROUPS -->
                            <div class="form-group">
                                <label>Benutzergruppe: &nbsp;</label>

                                <ui-select ng-model="adminUserEditCtrl.group" theme="selectize" ng-disabled="adminUserEditCtrl.isThisASystemUser()">

                                    <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminUserEditCtrl.groupEnums | propsFilter: {label: $select.search}">
                                        <div ng-bind-html="option.label | highlight: $select.search"></div>
                                    </ui-select-choices>

                                </ui-select>
                            </div>

                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6" ng-if="adminUserEditCtrl.editData()">

                            <!-- PORTRAIT -->
                            <img ng-if="adminUserEditCtrl.picFile[0].dataUrl == null" ng-src="{{ adminUserEditCtrl.portrait }}" alt="" class="thumb img-thumbnail" style="float: left; margin-bottom: 10px; margin-right: 10px;" />
                            <img ng-if="adminUserEditCtrl.picFile[0].dataUrl != null" ng-src="{{adminUserEditCtrl.picFile[0].dataUrl}}" class="img-thumbnail thumb" style="float: left; margin-bottom: 10px; margin-right: 10px;">

                            <!-- FOTO LÖSCHEN -->
                            <button ng-if="adminUserEditCtrl.picFile[0].dataUrl == null && !adminUserEditCtrl.hasNoPortrait()" type="button" class="btn btn-sm btn-danger" ng-click="adminUserEditCtrl.deletePortrait()" style="margin-bottom: 10px;">
                                <i class="fa fa-trash"></i> Foto löschen</button>

                            <span ng-if="adminUserEditCtrl.picFile[0].dataUrl == null && !adminUserEditCtrl.hasNoPortrait()"><br /></span>

                            <!-- FOTO AUSWÄHLEN -->
                            <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 10px;" ng-if="adminUserEditCtrl.picFile[0].dataUrl == null" ng-file-select ng-model="adminUserEditCtrl.picFile" ng-accept="'.jpg'" ng-multiple="false" ng-file-change="adminUserEditCtrl.generateThumb(adminUserEditCtrl.picFile[0], $files)">
                                <i class="glyphicon glyphicon-plus"></i> Neues Foto auswählen</button>


                            <span ng-if="adminUserEditCtrl.picFile[0].dataUrl == null"><br /></span>

                            <!-- SPEICHERN -->
                            <button type="button" class="btn btn-sm btn-success" style="margin-bottom: 10px;" ng-if="adminUserEditCtrl.picFile[0].dataUrl != null" ng-click="adminUserEditCtrl.upload(adminUserEditCtrl.picFile)">
                                <i class="glyphicon glyphicon-upload"></i> Speichern
                            </button>
                            <br />
                            <!-- ABBRUCH -->
                            <button type="button" class="btn btn-sm btn-default" style="margin-bottom: 10px;" ng-if="adminUserEditCtrl.picFile[0].dataUrl != null" ng-click="adminUserEditCtrl.remove()">
                                <i class="glyphicon glyphicon-ban-circle"></i> Abbrechen
                            </button>
                        </div>


                    </div>


                </div>


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminUserEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="adminUserEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern & Wiederherstellen
                            </button>

                            <div class="btn-group" ng-if="adminUserEditCtrl.editData() && !adminUserEditCtrl.isDeleted() && !adminUserEditCtrl.isThisASystemUser()">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-send"></i> Massen E-Mail senden <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li ng-repeat="email in adminUserEditCtrl.massemails track by $index">
                                        <a ng-click="adminUserEditCtrl.sendEmail(email.id)">{{email.subject}}</a>
                                    </li>

                                </ul>
                            </div>

                            <button type="button" ng-click="adminUserEditCtrl.delete()" class="btn btn-danger" ng-if="adminUserEditCtrl.editData() && !adminUserEditCtrl.isDeleted() && !adminUserEditCtrl.isThisASystemUser()">
                                <i class="fa fa-trash"></i> Löschen</button>
                            <button type="reset" ng-click="adminUserEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

<tabs ng-if="adminUserEditCtrl.editData() && !adminUserEditCtrl.isThisASystemUser()">
    <pane title="EMAILS">
        <h4>Versendete Emails</h4>

        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12">

                <div ui-grid="gridEmails" class="myGrid" style="height: 360px;" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

            </div>
        </div>

    </pane>
    <pane title="INFO">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>Login Versuche:</dt>
                    <dd>{{ adminUserEditCtrl.attempts }}</dd>
                    <dt>temporär gesperrt am:</dt>
                    <dd>{{ adminUserEditCtrl.suspended_at }}</dd>
                    <dt>gesperrt seit:</dt>
                    <dd>{{ adminUserEditCtrl.banned_at }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Aktivierungs Code:</dt>
                    <dd>{{ adminUserEditCtrl.act_code }}</dd>
                    <dt>Passwort Reset Code:</dt>
                    <dd>{{ adminUserEditCtrl.res_pwd_code }}</dd>
                </dl>
            </div>
        </div>
    </pane>
</tabs>


<div ng-include="'views/admin/includes/footer.html'"></div>






