<div ng-include="'views/website/includes/navbar.html'"></div>

<div class="page-header">
    <h1>Benutzerkonto</h1>
</div>


<div class="row">
    <div class="col-sm-10">

        <p>
            <a href="#/useraccount_portrait"><i class="fa fa-camera"></i> Portrait</a> &nbsp;
            <a href="#/useraccount_pwd"><i class="glyphicon glyphicon-lock"></i> Passwort</a>
        </p>


        <form name="formAccount" novalidate ng-submit="accountCtrl.submitForm(formAccount.$valid)">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Profil: {{accountCtrl.first_name}} {{accountCtrl.last_name}}</h3>
                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-6">

                            <!-- FIRST NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.first_name.$invalid && !formAccount.first_name.$pristine }">
                                <label class="control-label" for="inputFirstName">Vorname</label>
                                <input type="text" name="first_name" class="form-control" id="inputFirstName" ng-model="accountCtrl.first_name" required>
                                <p ng-show="formAccount.first_name.$error.required && !formAccount.first_name.$pristine" class="help-block">Bitte Vorname eingeben</p>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <!-- LAST NAME-->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.last_name.$invalid && !formAccount.last_name.$pristine }">
                                <label class="control-label" for="inputLastName">Nachname</label>
                                <input type="text" name="last_name" class="form-control" id="inputLastName" ng-model="accountCtrl.last_name" required>
                                <p ng-show="formAccount.last_name.$error.required && !formAccount.last_name.$pristine" class="help-block">Bitte Nachname eingeben</p>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <!-- USERNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.username.$invalid && !formAccount.username.$pristine }">
                                <label class="control-label" for="inputUsername">Benutzername</label>

                                <input type="text" name="username" class="form-control" id="inputUsername" ng-model="accountCtrl.username" ng-minlength="4" ng-maxlength="255" required x3m-unique-username="except_me">
                                <p ng-show="formAccount.username.$error.required && !formAccount.username.$pristine" class="help-block">Bitte der Benutzername eingeben</p>
                                <p ng-show="formAccount.username.$error.minlength" class="help-block">Der Benutzername muss min. 4stellig sein</p>
                                <p ng-show="formAccount.username.$error.maxlength" class="help-block">Der Benutzername ist zu lang</p>
                                <p ng-show="formAccount.username.$error.unique" class="help-block">Dieser Benutzername existiert bereits und kann nicht verwendet werden. Bitte ändern.</p>
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.email.$invalid && !formAccount.email.$pristine }">
                                <label class="control-label" for="inputEmail">E-Mail</label>
                                <input type="email" name="email" class="form-control" id="inputEmail" ng-model="accountCtrl.email" required x3m-email x3m-unique-email="except_me">
                                <p ng-show="formAccount.email.$error.required && !formAccount.email.$pristine" class="help-block">Bitte die E-Mail Adresse eingeben</p>
                                <p ng-show="formAccount.email.$error.unique" class="help-block">Es besteht bereits ein Konto mit dieser E-Mail Adresse</p>
                                <p ng-show="formAccount.email.$error.email" class="help-block">Bitte eine gültig E-Mail Adresse eingeben</p>
                            </div>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-sm-6">

                            <!-- SEX -->
                            <div class="form-group">
                                <label>Geschlecht: &nbsp;</label>

                                <ui-select ng-model="accountCtrl.sex" theme="selectize" ng-disabled="disabled" style="width: 50%">

                                    <ui-select-match placeholder="Auswählen...">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in accountCtrl.sexEnums | propsFilter: {label: $select.search}">
                                        <div ng-bind-html="option.label | highlight: $select.search"></div>
                                    </ui-select-choices>

                                </ui-select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formAccount.$invalid"><i class="fa fa-save"></i> Speichern</button>
                            <button type="reset" ng-click="accountCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>






