<div ng-include="'views/website/includes/navbar.html'"></div>

<div class="page-header">
    <h1>Benutzerkonto: Portrait</h1>
</div>


<div class="row">
    <div class="col-sm-12">
        <p>
            <a href="#/useraccount"><i class="glyphicon glyphicon-user"></i> Account</a> &nbsp;
            <a href="#/useraccount_pwd"><i class="glyphicon glyphicon-lock"></i> Passwort</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">{{accountCtrl.first_name}} {{accountCtrl.last_name}}</h3>
            </div>

            <div class="panel-body"  style="text-align: center;">

                <span x3m-portrait></span>
                <br /><br />

            </div>

            <div class="panel-footer" style="text-align: center;">
                <button class="btn btn-sm btn-danger" ng-click="deletePortrait()"><i class="fa fa-trash"></i> Löschen</button>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title text-success">Neues Portrait hochladen</h3>
            </div>

            <div class="panel-body" style="text-align: center;">
                <button class="btn btn-sm btn-primary" ng-show="picFile[0].dataUrl == null" ng-file-select ng-model="picFile" ng-accept="'.jpg'" ng-multiple="false" ng-file-change="generateThumb(picFile[0], $files)">
                    <i class="glyphicon glyphicon-plus"></i> Foto auswählen</button>

                <img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}" class="img-thumbnail thumb" style="margin-bottom: 20px;">
            </div>

            <div class="panel-footer" style="text-align: center;">
                <button class="btn btn-sm btn-success" ng-show="picFile[0].dataUrl != null" ng-click="upload(picFile)"><i class="glyphicon glyphicon-upload"></i> Speichern
                </button>
                <button class="btn btn-sm btn-default" ng-show="picFile[0].dataUrl != null" ng-click="remove()"><i class="glyphicon glyphicon-ban-circle"></i> Abbrechen
                </button>
            </div>

        </div>

    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>






