<div ng-include="'views/website/includes/navbar.html'"></div>

<div class="page-header">
    <h1>Benutzerkonto: Passwort</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>
            <a href="#/useraccount"><i class="glyphicon glyphicon-user"></i> Account</a> &nbsp;
            <a href="#/useraccount_portrait"><i class="fa fa-camera"></i> Portrait</a> &nbsp;
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">

        <form name="formAccount" novalidate ng-submit="accountCtrl.submitForm(formAccount.$valid)">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Passwort ändern für {{accountCtrl.first_name}} {{accountCtrl.last_name}}</h3>
                </div>

                <div class="panel-body">


                    <div class="row">

                        <div class="col-sm-6">
                            <!-- PASSWORD -->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.password.$invalid && !formAccount.password.$pristine }">
                                <label class="control-label" for="inputPassword">Neues Passwort</label>
                                <input type="password" name="password" class="form-control" id="inputPassword" ng-model="accountCtrl.password" ng-minlength="6" ng-maxlength="32" required>
                                <p ng-show="formAccount.password.$error.required && !formAccount.password.$pristine" class="help-block">Bitte das Passwort eingeben</p>
                                <p ng-show="formAccount.password.$error.minlength" class="help-block">Das Passwort muss min. 6stellig sein</p>
                                <p ng-show="formAccount.password.$error.maxlength" class="help-block">Das Passwort ist zu lang</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- PASSWORD CONFIRM -->
                            <div class="form-group" ng-class="{ 'has-error' : formAccount.password_confirm.$invalid && !formAccount.password_confirm.$pristine }">
                                <label class="control-label" for="inputPasswordConfirm">Neues Passwort wiederholen</label>
                                <input type="password" name="password_confirm" class="form-control" id="inputPasswordConfirm" ng-model="accountCtrl.password_confirm" x3m-equal="{{accountCtrl.password}}">
                                <p ng-show="formAccount.password_confirm.$error.equals && !formAccount.password_confirm.$pristine" class="help-block">Die Passwörter sind nicht identisch!</p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formAccount.$invalid"><i class="fa fa-save"></i> Speichern</button>
                            <button ng-click="accountCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<div ng-include="'views/website/includes/footer.html'"></div>






