<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/emailtemplates">E-Mail Templates</a></li>
                <li class="active"><span x3m-emailtemplate-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h1 class="text-primary"><span x3m-emailtemplate-title-panel></span></h1>
</div>


<div class="row">
    <div class="col-sm-12">

        <form name="formEdit" novalidate ng-submit="adminEmailTemplateEditCtrl.submitForm(formEdit.$valid)">


            <div class="panel panel-default">

                <div ng-if="adminEmailTemplateEditCtrl.editData()" class="panel-heading">
                    <span x3m-emailtemplate-info-panel></span>
                </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12">

                            <!-- SUBJECT -->
                            <div class="form-group" ng-class="{ 'has-error' : formEdit.subject.$invalid && !formEdit.subject.$pristine }">
                                <label class="control-label" for="inputSubject">Betreff</label>

                                <input type="text" name="subject" class="form-control" id="inputSubject" ng-model="adminEmailTemplateEditCtrl.subject" required>

                                <p ng-show="formEdit.subject.$error.required && !formEdit.subject.$pristine" class="help-block">Bitte Betreff eingeben</p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div text-angular="text-angular" name="htmlcontent" ng-model="adminEmailTemplateEditCtrl.htmlcontent" ta-disabled='disabled'></div>
                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid" ng-if="!adminEmailTemplateEditCtrl.isDeleted()"><i class="fa fa-save"></i> Speichern</button>
                            <button type="reset" ng-click="adminEmailTemplateEditCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






