<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/massemails">Massen E-Mails</a></li>
                <li class="active"><span x3m-massemail-log-title-navbar></span></li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h1 class="text-primary"><small>E-Mail Protokoll:</small> <span x3m-massemail-log-title-panel></span></h1>
</div>




<div class="row">

    <div class="col-md-6">

        <div ui-grid="gridOptions" class="myGrid"  ui-grid-pagination ui-grid-resize-columns ui-grid-selection ui-grid-pinning ui-grid-move-columns></div>

    </div>

    <div class="col-md-6">

        <div ui-grid="gridOptions2" class="myGrid"  ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>

    </div>

</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






