<!-- Top Bar -->
<header class="fixed" id="topHead">
    <div class="container">

        <!-- Breadcrumb -->
        <span class="pull-left">
            <span class="breadcrumbtop hidden-xs">
                <li><a href="#/admin">DASHBOARD</a></li>
                <li><a href="#/admin/massemails">Massen E-Mails</a></li>
                <li class="active">Senden</li>
            </span>
        </span>
        <!-- /Breadcrumb -->

        <div ng-include="'views/admin/includes/topbar_right.html'"></div>

    </div>
</header>
<!-- /Top Bar -->


<!-- Nav Bar -->
<div ng-include="'views/admin/includes/navbar.html'"></div>
<!-- /Nav Bar -->




<div class="page-title">
    <h2 class="text-primary">E-Mail senden</h2>
</div>


<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">

            <div class="panel-heading">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group" style="margin-bottom: 0px;">

                            <label class="col-sm-2 control-label">Absender:</label>

                            <div class="col-sm-10">
                                <p class="form-control-static">{{adminMassEmailSendCtrl.sender_name}} <{{adminMassEmailSendCtrl.sender_email}}> </p>
                            </div>

                        </div>

                        <div class="form-group" style="margin-bottom: 0px;">

                            <label class="col-sm-2 control-label">Betreff:</label>

                            <div class="col-sm-10">
                                <p class="form-control-static">{{adminMassEmailSendCtrl.subject}}</p>
                            </div>

                        </div>

                        <div class="form-group" style="margin-bottom: 0px;">

                            <label class="col-sm-2 control-label"><i class="fa fa-paperclip"></i> Anhang:</label>

                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <span ng-repeat="doc in adminMassEmailSendCtrl.docs track by $index">
                                        {{doc.filename}}<br />
                                    </span>
                                    </ul></p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-top: 6px;"><i class="fa fa-envelope-o"></i> Empfänger:</label>

                            <div class="col-sm-10">
                                <ui-select multiple ng-model="adminMassEmailSendCtrl.to" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="true">
                                    <ui-select-match placeholder="Empfänger auswählen...">{{$item.name}} ({{$item.email}})</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminMassEmailSendCtrl.recipientsOptions | propsFilter: {name: $select.search, email: $select.search}">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        <small>
                                            <span ng-bind-html="''+option.email | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>


                                <p style="margin-top: 8px;">
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="adminMassEmailSendCtrl.newRecipient()">
                                        <i class="glyphicon glyphicon-plus"></i> Eine neue E-Mailadresse erfassen</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-top: 6px;">Kopie (cc):</label>

                            <div class="col-sm-10">
                                <ui-select multiple ng-model="adminMassEmailSendCtrl.cc" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="true">
                                    <ui-select-match placeholder="Empfänger auswählen...">{{$item.name}} ({{$item.email}})</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminMassEmailSendCtrl.recipientsOptions | propsFilter: {name: $select.search, email: $select.search}">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        <small>
                                            <span ng-bind-html="''+option.email | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-top: 6px;">(bcc):</label>

                            <div class="col-sm-10">
                                <ui-select multiple ng-model="adminMassEmailSendCtrl.bcc" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="true">
                                    <ui-select-match placeholder="Empfänger auswählen...">{{$item.name}} ({{$item.email}})</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in adminMassEmailSendCtrl.recipientsOptions | propsFilter: {name: $select.search, email: $select.search}">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        <small>
                                            <span ng-bind-html="''+option.email | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom: 0px;">

                            <label class="col-sm-2 control-label">Emailtext:</label>

                            <div class="col-sm-9 well" style="margin-left: 15px;">
                                <p class="form-control-static">

                                <div ng-bind-html="adminMassEmailSendCtrl.emailcontent"></div>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">

                        <form name="formEdit" class="form-horizontal" novalidate ng-submit="adminMassEmailSendCtrl.submitForm(formEdit.$valid)">
                            <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid"><i class="fa fa-send"></i> Senden</button>
                            <button type="reset" ng-click="adminMassEmailSendCtrl.cancel()" class="btn btn-default">Abbrechen</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div ng-include="'views/admin/includes/footer.html'"></div>






